/*  Colour Variables */
:root {
  --researchColor: #80A9FF;
  --ixdColor: #FF8080;
  --designColor: #FFA380;
  --textColor: #333333;
}

/* Fonts */

@font-face {
  font-family: 'RalewayTitle';
  src: url('fonts/Raleway-VariableFont_wght.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'RalewayBody';
  src: url('fonts/Raleway-VariableFont_wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora-Regular.ttf');
  font-weight: 400;
}

/* GRID - Site Sections */

html {
  overflow: hidden;
}



body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0px;
}


#site {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5% auto;
  column-gap: 0.83%;
}

#nav {
  padding-top: 5%;
  display: flex;
  z-index: 2;
  grid-column: 3 / 6;
  align-items: center;
}


#menu {
  background-color: #EEEEEE;
  display: grid;
  grid-column: 1 / 3;
  padding: 20px;
  z-index: 1;
  grid-row: 1 / 3;
  box-shadow: 1px 7px 12px 1px rgba(0,0,0,0.16);
}

#content {
  display: grid;
  align-self: end;
  grid-column: 3 / 13;
  padding-bottom: 100px;
  padding-left: 40px;
  grid-row-start: 2;
  justify-items: start;
  z-index: 1;
  grid-template-columns: auto auto;
}

.flexCon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}


/* STYLE - Global - Text Styles */


h1 {
  font-family: 'RalewayTitle', arial, sans-serif;
  font-size: 4em;
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 30px;
}

h2 {
  font-family: 'RalewayBody', arial, sans-serif;
  font-size: 1.25em;
  color: var(--textColor);
  font-weight: normal;
}

h3 {
  font-family: 'RalewayTitle', arial, sans-serif;
  font-size: 1.5em;
  color: var(--textColor);
}


h4 {
  font-family: 'RalewayTitle', arial, sans-serif;
  font-size: 0.875em;
  color: var(--textColor);
  letter-spacing: 0.016em;
  line-height: 19px;
}

p.caseStudy {
  font-family: 'Lora', 'Times New Roman', Times, serif;
  font-size: 1em;
  color: var(--textColor);
  letter-spacing: 0.016em;
  line-height: 28px;
  text-align: justify;
}



p.context {
  font-family: 'RalewayBody', arial, sans-serif;
  font-size: 0.875em;
  color: var(--textColor);
  line-height: 20px;
  padding-bottom: 15px;
}

p.flavour {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 40px;
}

/* STYLE - Landing Page - Text Styles */

.workType {
  padding-top: 20px;
  padding-bottom: 2px;

}

.research {
  color: var(--researchColor);
}

.design {
  color: var(--designColor);
}

.ixd {
  color: var(--ixdColor);
}

h4.projectTitle {
  text-indent: 40px;
  cursor: pointer;
  width: 80%;
  place-self: center;
  padding: 0.4em;
}


/* LAYOUT - Alignment Classes */

.rule {
  width: 80%;
  height: 2px;
  background: var(--textColor);
  margin: 0.75em 0em 0.75em 0em;
}

.resRule {
  width: 150px;
  height: 2px;
  background: var(--researchColor);
  margin: 0em 0em 0.5em 0em;
}


.designRule {
  width: 150px;
  height: 2px;
  background: var(--designColor);
  margin: 0em 0em 0.5em 0em;
}


.ixdRule {
  width: 150px;
  height: 2px;
  background: var(--ixdColor);
  margin: 0em 0em 0.5em 0em;
}

.personal {
  padding-top: 50%;
  display: grid;
}

#aboutRule {
  width: 100%;
  grid-column: 1 / 3;
}

#about {
}

#resume {
  grid-row: 2;
  }
  





/* CONTENT - Landing */



.fadeAnimOut {
  animation: fadeAnimOut;
  animation-iteration-count: 1;
  animation-duration: 0.3s;

}

@keyframes fadeAnimOut {
  0% {opacity:1;}
  100% {opacity:0;}

}

.fadeAnimIn {
  animation: fadeAnimIn;
  animation-iteration-count: 1;
  animation-duration: 0.2s;

}

@keyframes fadeAnimIn {
  0% {opacity:0;}
  100% {opacity:1;}

}

#construct:hover {
  color: white;
  background-color: var(--researchColor);
  border-radius: 20px;
}

#studentPortal:hover {
  color: white;
  background-color: var(--researchColor);
  border-radius: 20px;
}


#oakvilleTrails:hover {
  color: white;
  background-color: var(--designColor);
  border-radius: 20px;
}

#strive:hover {
  color: white;
  background-color: var(--designColor);
  border-radius: 20px;
}

#oakvilleTrails:hover {
  color: white;
  background-color: var(--designColor);
  border-radius: 20px;
}

#pixelCloud:hover {
  color: white;
  background-color: var(--ixdColor);
  border-radius: 20px;
}

#simm:hover {
  color: white;
  background-color: var(--ixdColor);
  border-radius: 20px;
}


.landing {
/*
padding-left: 2%;
*/
}

#construct_landing {
  display: grid;
}

#studentPortal_landing {
  display: none;
}

#strive_landing {
  display: none;
}

#oakvilleTrails_landing {
  display: none;
}

#pixelCloud_landing {
  display: none;
}

#simm_landing {
  display: none;
}


button {
  border: 0px;
  font-family: 'RalewayTitle', arial, sans-serif;
  font-size: 1.25em;
  color: var(--textColor);
  letter-spacing: 0.016em;
  line-height: 19px;
  padding-left: 10px;
  background-color: var(--researchColor);
  border-radius: 60px;
  padding: 10px 20px 10px 20px;
}

#button_CTA {
  color: #FFFFFF;
}

#button_Project {
  color: #FFFFFF;
}

#cs_Links {

grid-row: 2;

}



/* CONTENT - Case Studies / About */


.back {

grid-row: 1 / 2;
grid-column: 1 / 3;
align-self: start;
text-align: center;
cursor: pointer;

}

#aboutWes {
  display: none;
}


#construct_CS {

  display: none;
}


#studentPortal_CS {

  display: none;

}

#strive_CS {

  display: none;

}

#oakvilleTrails_CS {

  display: none;

}

#pixelCloud_CS {

  display: none;

}

#simm_CS {

  display: none;

}

.articleGrid {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 600px auto auto auto auto auto auto;
  column-gap: 0.83%;
  align-items: end;
  z-index: 1;
  grid-row-start: 1;
}

.articleInfo {
  display: grid;
  grid-column: 6 / 12;
  text-align: center;
  row-gap: 16px;
  padding-bottom: 10%
}

.csInfo {
  display: contents;
}

#aboutWesAvatar {
  grid-row: 2;
  grid-column: 6 / 7;
}

#intro {
  grid-column: 7 / 12;
  place-self: center;
}

#intro>* {
  padding: 5px;
}


.caseStudy {
  grid-column: 6 / 12;
}

.h4alt {
  grid-column: 6 / 12;

}

.articleLogo {
  max-width: 20%;
  height: auto;
}

.homeButton {
  display: none;
  max-width: 40%;
  height: auto;
  padding-right: 20px;
}